<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina%></h1>
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label for="E-mail">E-mail</label>
            <input type="email" name="email" placeholder="Tu Email">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Iniciar Sesión" class="btn btn-rosa">
        </div>
    </form>
</main>